  	h1 {
    	font-size: 8em;
    	text-align: center;
    	top: 60px;
    	letter-spacing: 7px;
    	font-family: 'Tangerine', cursive;
	 }

  	#number-to-guess {
  		font-color: #313335;
  		letter-spacing: 5px;
  	}

  	.crystal-image {
      width: 220px;
      height: 220px;
      padding: 15px;
    }

  	#crystals {
  		margin-top: 30px;

  	}

    body {
  	    background-image: url('../images/whitediamondimage.png');
  	    background-repeat: repeat;
  	    background-attachment: fixed;
  	    background-position: center;
    		font-family: 'Playfair Display', serif;
    		margin: 10px;
  	}

  	.score {
  		align-items: center;
  		justify-content: center;
  	}

  	.footer {
      height: 100px;
      width: 100%;
      background-color: #A4A4A2;
      clear: both;
  	}
    @media only screen and (max-width: 991px) {
      .crystal-image {
        width: 150px;
        height: 150px;
        padding: 5px;

      }
      #crystals {
        margin: auto;
        display: block;
        text-align: center;
        padding: 0 1em 0 3em;

      }
      h1 {
        font-size: 5em;
     }
    @media only screen and (max-width: 768px) {
      .crystal-image {
        width: 100px;
        height: 100px;
        padding: 5px;

      }
      #crystals {
        margin: auto;
        display: block;
        text-align: center;
        padding: 0 1em 0 3em;

      }
      h1 {
        font-size: 4.5em;
     }


    }
    @media only screen and (max-width: 440px) {
      .crystal-image {
        width: 50px;
        height: 50px;
        padding: 5px;

      }
      #crystals {
        margin: auto;
        display: block;
        text-align: center;
        padding: 0 2em 0 5em;

      }
      h1 {
        font-size: 4em;
     }


    }
