  	h1 {
	font-size: 100px;
	text-align: center;
	top: 60px;
	letter-spacing: 7px;
	font-family: 'Tangerine', cursive;
	}

  	#number-to-guess {
  		font-color: #313335;
  		letter-spacing: 5px;
  	}

  	.crystal-image {
      width: 220px;
      height: 220px;
      padding: 20px;
    }

	#crystals {
		margin-top: 30px;
	}

    body { 
	    background-image: url('../images/whitediamondimage.png');
	    background-repeat: repeat;
	    background-attachment: fixed;
	    background-position: center;
		font-family: 'Playfair Display', serif; 
	}

	.score {
		align-items: center;
		justify-content: center;
	}

	.footer {
    height: 100px;
    width: 100%;
    background-color: #A4A4A2;
    clear: both;
	}